# Python
venv/
__pycache__/
*.pyc

# Environment Variables
.env

# Database
*.db
*.db-shm
*.db-wal

# Uploads & Reports
uploads/
reports/

# React
node_modules/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db